<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>05-893 Interactive Data Science Fusion Table</h1>
	<h2>Jieli Zhou</h2>
        <p>These two fusion tables visualize the geolocations of crime reports for different cities from January to June 2017 from FBI. Clicking on the 
        each location dot will display detailed information about the city, like counts for different types of crimes. From theses maps
        we can easily answer the question which city is safer and back our answers with the corresponding stats. Also we can see
        that the number of aggravated assult in one city roughly coincides with the number of violent crimes in that city.</p>
      </div>
<h2>Aggravated Assult by City, State in US January–June, 2017</h2> 
<iframe width="1000" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1CbSblvf4AGkEqfgd7X0tKIkOCgEcXQVXpTuGrmag&amp;viz=MAP&amp;h=false&amp;lat=39.41968187536325&amp;lng=-95.58497656250006&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
<br></br>
<h2>Violent Crimes by City, State in US January-June, 2017</h2> 
<iframe width="1000" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+18NRQULyBCZ9WRTIj0VBxJ98vWwF-BFXumTwEDiyq&amp;viz=MAP&amp;h=false&amp;lat=39.41968187536325&amp;lng=-95.58497656250006&amp;t=1&amp;z=4&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
<br></br>
      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
